main{
    display: flex;
    justify-content: center;
}

.okenko{
    background-color: grey;
    border: solid;
   border-color: black;
    border-radius:16px ;
    text-align: center;
    min-width: 400px;
    padding: 16px;
    margin: 40px;
    }

.nameodsazeni{
    margin: 10px;
}

.buttonsodsazeni{
    margin: 10px;
}

#a{
    border: solid black;
    background-color: white;
    border-radius: 2px;
    border-width: 1px;
    padding: 1px;
}

#b{
    border: solid black;
    background-color: white;
    border-radius: 2px;
    border-width: 1px;
}

#c{
    border: solid black;
    background-color: white;
    border-radius: 2px;
    border-width: 1px;
}

.homepage{
text-align: center;
justify-content:center;
}

.logo{
    display: flex;
    justify-content: center;
}

.button-33{
    border-radius: 100px;
    background-color: #c2fbd7;
    box-shadow: rgb(139, 209, 166) 0 -25;
    color: green;
    cursor: pointer;
    display: middle;
    font-family: 'Times New Roman', Times, serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
}

.tlacitka{
    display: flex;
    justify-content: center;
}