body{
background-color: whitesmoke;
padding: 16px;
}

main{
    justify-content: center;
    margin: 16px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    max-width: 450px;
}

